<div class="row">
    <div class="col-lg-8">
        <!-- Basic Card Example -->
        <div class="card mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-danger">{{ title }}</h6>
            </div>
            {{#each administrasi}}
            <div class="card-body">
                <table class="table table-hover border-0">
                    <tr>
                        <th scope="col">Tanggal Administrasi</th>
                        <td>{{ tglAdmin }}</td>
                    </tr>
                    <tr>
                        <th scope="col">Kode Pasien</th>
                        <td><a href="/pasien/{{ kodePasien }}">{{ kodePasien }}</a></td>
                    </tr>
                    <tr>
                        <th scope="col">Kode Resep</th>
                        <td><a href="/resep/{{ kodeResep }}">{{ kodeResep }}</a></td>
                    </tr>
                    <tr>
                        <th scope="col">Kode Obat</th>
                        <td><a href="/obat/{{ kodeObat }}">{{ kodeObat }}</a></td>
                    </tr>
                    <tr>
                        <th scope="col">Kode Diagnosa</th>
                        <td><a href="/diagnosa/{{ kodeDiagnosa }}">{{ kodeDiagnosa }}</a></td>
                    </tr>
                    <tr>
                        <th scope="col">Lama Menginap</th>
                        <td>{{ lamaInap }}</td>
                    </tr>
                    <tr>
                        <th scope="col">Biaya</th>
                        <td>{{ biaya }}</td>
                    </tr>
                </table>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <!-- Basic Card Example -->
        <div class="card mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-danger">Ubah</h6>
            </div>
            <div class="card-body">
                <form action="/administrasi/{{#each administrasi}}{{_id}}{{/each}}?_method=PATCH" method="post">
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label>Tangggal Administrasi</label>
                            <input type="text" name="tglAdmin" class="form-control" placeholder="tanggal Rekam Medis"
                                autocomplete="off" value="{{#each administrasi}}{{ tglAdmin}}{{/each}}">
                        </div>
                        <div class="form-group col-12">
                            <label>Pasien</label>
                            <select name="kodePasien" class="form-control">
                                <option selected>Pilih...</option>
                                {{#each pasien}}
                                <option value="{{ _id }}">{{ nama }}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group col-12">
                            <label>Obat</label>
                            <select name="kodeObat" class="form-control">
                                <option selected>Pilih...</option>
                                {{#each obat}}
                                <option value="{{ _id }}">{{ nama }}</option>
                                {{/each}}
                            </select>
                        </div>
                         <div class="form-group col-12">
                            <label>Resep</label>
                            <select name="kodeResep" class="form-control">
                                <option selected>Pilih...</option>
                                {{#each resep}}
                                <option value="{{ _id }}">{{ tglResep }}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group col-12">
                            <label>Diagnosa</label>
                            <select name="kodeDiagnosa" class="form-control">
                                <option selected>Pilih...</option>
                                {{#each diagnosa}}
                                <option value="{{ _id }}">{{ tglPeriksa }}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group col-4">
                            <label>Lama Inap</label>
                            <input type="text" name="lamaInap" class="form-control" placeholder="hari"
                                autocomplete="off" value="{{#each administrasi}}{{ lamaInap }}{{/each}}">
                        </div>
                        <div class="form-group col-8">
                            <label>Biaya</label>
                            <input type="text" name="biaya" class="form-control" placeholder="biaya"
                                autocomplete="off" value="{{#each administrasi}}{{ biaya}}{{/each}}">
                        </div>
                    </div>
                    <input type="submit" value="Ubah" class="btn btn-primary btn-block mt-3">
                </form>
            </div>
        </div>
    </div>
</div>