<div class="row">
    <div class="col-lg-8">
        <!-- Basic Card Example -->
        <div class="card mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-danger">{{ title }}</h6>
            </div>
            {{#each dokter}}
            <div class="card-body">
                <table class="table table-hover border-0">
                    <tr>
                        <th scope="col">Nama</th>
                        <td>{{ nama }}</td>
                    </tr>
                    <tr>
                        <th scope="col">Jenis Kelamain</th>
                        <td>{{ jk }}</td>
                    </tr>
                    <tr>
                        <th scope="col">Spesialis</th>
                        <td>{{ spesialis }}</td>
                    </tr>
                    <tr>
                        <th scope="col">No. Praktek</th>
                        <td>{{ noPraktek }}</td>
                    </tr>
                    <tr>
                        <th scope="col">Jam Praktek</th>
                        <td>{{ jamPraktek }}</td>
                    </tr>
                    <tr>
                        <th scope="col">Alamat</th>
                        <td>{{ alamat }}</td>
                    </tr>
                    <tr>
                        <th scope="col">No. Telepon</th>
                        <td>{{ noTelp }}</td>
                    </tr>
                </table>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <!-- Basic Card Example -->
        <div class="card mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-danger">Ubah</h6>
            </div>
            <div class="card-body">
                {{#each dokter}}
                <form action="/dokter/{{_id}}?_method=PATCH" method="post">
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label>Nama</label>
                            <input type="text" name="nama" class="form-control" placeholder="nama" autocomplete="off"
                                value="{{ nama }}">
                        </div>
                        <div class="form-group col-12">
                            <label>Spesialis</label>
                            <select name="spesialis" class="form-control">
                                <option selected>Pilih...</option>
                                <option value="penyakit dalam">Penyakit Dalam</option>
                                <option value="THT">THT</option>
                                <option value="gigi dan mulut">Gigi dan Mulut</option>
                                <option value="kandungan">Kandungan</option>
                                <option value="tulang">Tulang</option>
                                <option value="anak">Anak</option>
                                <option value="psikiater">Psikiater</option>
                                <option value="saraf">Saraf</option>
                                <option value="kulit dan kelamin">Kulit dan Kelamin</option>
                            </select>
                        </div>
                        <div class="form-group col-6">
                            <label>No. Praktek</label>
                            <input type="text" name="noPraktek" class="form-control" placeholder="no praktek"
                                autocomplete="off" value="{{ noPraktek }}">
                        </div>
                        <div class="form-group col-6">
                            <label>Jenis Kelamin</label>
                            <div>
                                <div class="form-check form-check-inline mt-2 ml-2">
                                    <input class="form-check-input" type="radio" name="jk" value="laki-laki">
                                    <label class="form-check-label" for="inlineRadio1">Laki-laki</label>
                                </div>
                                <div class="form-check form-check-inline mt-2 ml-2">
                                    <input class="form-check-input" type="radio" name="jk" value="perempuan">
                                    <label class="form-check-label" for="inlineRadio2">Perempuan</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-12">
                            <label>Alamat</label>
                            <textarea name="alamat" class="form-control">{{ alamat }}</textarea>
                        </div>
                        <div class="form-group col-12">
                            <label>No. Telepon</label>
                            <input type="text" name="noTelp" class="form-control" placeholder="no telepon"
                                autocomplete="off" value="{{ noTelp }}">
                        </div>
                        <div class="form-group col-12">
                            <label>Jam Praktek</label>
                            <input type="text" name="jamPraktek" class="form-control" placeholder="jam praktek"
                                autocomplete="off" value="{{ jamPraktek }}">
                        </div>
                    </div>
                    <input type="submit" value="Ubah" class="btn btn-primary btn-block mt-3">
                </form>
                {{/each}}
            </div>
        </div>
    </div>
</div>