<div class="row">
    <div class="col-lg-8">
        <!-- Basic Card Example -->
        <div class="card mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-danger">{{ title }}</h6>
            </div>
            {{#each diagnosa}}
            <div class="card-body">
                <table class="table table-hover border-0">
                    <tr>
                        <th scope="col">Tanggal Periksa</th>
                        <td>{{ tglPeriksa }}</td>
                    </tr>
                    <tr>
                        <th scope="col">Hasil</th>
                        <td>{{ hasil }}</td>
                    </tr>
                    <tr>
                        <th scope="col">Kode Pasien</th>
                        <td><a href="/pasien/{{ kodePasien }}">{{ kodePasien }}</a></td>
                    </tr>
                    <tr>
                        <th scope="col">Kode Dokter</th>
                        <td><a href="/dokter/{{ kodeDokter }}">{{ kodeDokter }}</a></td>
                    </tr>
                    <tr>
                        <th scope="col">Kode Obat</th>
                        <td><a href="/obat/{{ kodeObat }}">{{ kodeObat }}</a></td>
                    </tr>
                    <tr>
                        <th scope="col">Kode Tindakan</th>
                        <td><a href="/tindakan/{{ kodeTindakan }}">{{ kodeTindakan }}</a></td>
                    </tr>
                    <tr>
                        <th scope="col">Kode Ruangan</th>
                        <td><a href="/ruangan/{{ kodeRuangan }}">{{ kodeRuangan }}</a></td>
                    </tr>
                    <tr>
                        <th scope="col">Status</th>
                        <td>{{ status }}</td>
                    </tr>
                </table>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <!-- Basic Card Example -->
        <div class="card mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-danger">Ubah</h6>
            </div>
            <div class="card-body">
                <form action="/diagnosa/{{#each diagnosa}}{{_id}}{{/each}}?_method=PATCH" method="post">
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label>Tangggal Periksa</label>
                            <input type="text" name="tglPeriksa" class="form-control" placeholder="tanggal periksa"
                                autocomplete="off" value="{{#each diagnosa}}{{ tglPeriksa }}{{/each}}">
                        </div>
                        <div class="form-group col-12">
                            <label>Hasil</label>
                            <input type="text" name="hasil" class="form-control" placeholder="hasil" autocomplete="off" value="{{#each diagnosa}}{{ hasil }}{{/each}}">
                        </div>
                        <div class="form-group col-12">
                            <label>Pasien</label>
                            <select name="kodePasien" class="form-control">
                                <option selected>Pilih...</option>
                                {{#each pasien}}
                                <option value="{{ _id }}">{{ nama }}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group col-12">
                            <label>Dokter</label>
                            <select name="kodeDokter" class="form-control">
                                <option selected>Pilih...</option>
                                {{#each dokter}}
                                <option value="{{ _id }}">{{ nama }}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group col-12">
                            <label>Obat</label>
                            <select name="kodeObat" class="form-control">
                                <option selected>Pilih...</option>
                                {{#each obat}}
                                <option value="{{ _id }}">{{ nama }}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group col-12">
                            <label>Tindakan</label>
                            <select name="kodeTindakan" class="form-control">
                                <option selected>Pilih...</option>
                                {{#each tindakan}}
                                <option value="{{ _id }}">{{ nama }}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group col-12">
                            <label>Ruangan</label>
                            <select name="kodeRuangan" class="form-control">
                                <option selected>Pilih...</option>
                                {{#each ruangan}}
                                <option value="{{ _id }}">{{ nama }}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group col-12">
                            <label>Status</label>
                            <select name="status" class="form-control">
                                <option selected>Pilih...</option>
                                <option value="diagnosa awal">Diagnosa Awal</option>
                                <option value="diagnosa lanjutan">Diagnosa Lanjutan</option>
                            </select>
                        </div>
                    </div>
                    <input type="submit" value="Ubah" class="btn btn-primary btn-block mt-3">
                </form>
            </div>
        </div>
    </div>
</div>