<div class="row">
    <div class="col-lg-8">
        <!-- Basic Card Example -->
        <div class="card mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-danger">{{ title }}</h6>
            </div>
            {{#each perawat}}
            <div class="card-body">
                <table class="table table-hover border-0">
                    <tr>
                        <th scope="col">Nama</th>
                        <td>{{ nama }}</td>
                    </tr>
                    <tr>
                        <th scope="col">Jenis Kelamain</th>
                        <td>{{ jk }}</td>
                    </tr>
                    <tr>
                        <th scope="col">Kode Ruang</th>
                        <td>{{ kodeRuang }}</td>
                    </tr>
                    <tr>
                        <th scope="col">Jam Jaga</th>
                        <td>{{ jamJaga }}</td>
                    </tr>
                    <tr>
                        <th scope="col">Alamat</th>
                        <td>{{ alamat }}</td>
                    </tr>
                    <tr>
                        <th scope="col">No. Telepon</th>
                        <td>{{ noTelp }}</td>
                    </tr>
                </table>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <!-- Basic Card Example -->
        <div class="card mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-danger">Ubah</h6>
            </div>
            <div class="card-body">
                {{#each perawat}}
                <form action="/perawat/{{_id}}?_method=PATCH" method="post">
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label>Nama</label>
                            <input type="text" name="nama" class="form-control" placeholder="nama" autocomplete="off"
                                value="{{ nama }}">
                        </div>
                        <div class="form-group col-6">
                            <label>Kode Ruang</label>
                            <input type="text" name="kodeRuang" class="form-control" placeholder="kode ruang"
                                autocomplete="off" value="{{ kodeRuang }}">
                        </div>
                        <div class="form-group col-6">
                            <label>Jenis Kelamin</label>
                            <div>
                                <div class="form-check form-check-inline mt-2 ml-2">
                                    <input class="form-check-input" type="radio" name="jk" value="laki-laki">
                                    <label class="form-check-label" for="inlineRadio1">Laki-laki</label>
                                </div>
                                <div class="form-check form-check-inline mt-2 ml-2">
                                    <input class="form-check-input" type="radio" name="jk" value="perempuan">
                                    <label class="form-check-label" for="inlineRadio2">Perempuan</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-12">
                            <label>Alamat</label>
                            <textarea name="alamat" class="form-control">{{ alamat }}</textarea>
                        </div>
                        <div class="form-group col-12">
                            <label>No. Telepon</label>
                            <input type="text" name="noTelp" class="form-control" placeholder="no telepon"
                                autocomplete="off" value="{{ noTelp }}">
                        </div>
                        <div class="form-group col-12">
                            <label>Jam Jaga</label>
                            <input type="text" name="jamJaga" class="form-control" placeholder="jam jaga"
                                autocomplete="off" value="{{ jamJaga }}">
                        </div>
                    </div>
                    <input type="submit" value="Ubah" class="btn btn-primary btn-block mt-3">
                </form>
                {{/each}}
            </div>
        </div>
    </div>
</div>