<div class="row">
    <div class="col-lg-8">
        <!-- Basic Card Example -->
        <div class="card mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">{{ title }}</h6>
            </div>
            {{#each pasien}}
            <div class="card-body">
                <table class="table table-hover border-0">
                    <tr>
                        <th scope="col">Nama</th>
                        <td>{{ nama }}</td>
                    </tr>
                    <tr>
                        <th scope="col">Jenis Kelamain</th>
                        <td>{{ jk }}</td>
                    </tr>
                    <tr>
                        <th scope="col">Usia</th>
                        <td>{{ usia }}</td>
                    </tr>
                    <tr>
                        <th scope="col">NIK</th>
                        <td>{{ nik }}</td>
                    </tr>
                    <tr>
                        <th scope="col">Alamat</th>
                        <td>{{ alamat }}</td>
                    </tr>
                    <tr>
                        <th scope="col">No. Telepon</th>
                        <td>{{ noTelp }}</td>
                    </tr>
                    <tr>
                        <th scope="col">Tanggal Daftar</th>
                        <td>{{ tglDaftar }}</td>
                    </tr>
                    <tr>
                        <th scope="col">Jenis Pemeriksaan</th>
                        <td>{{ jenPeriksa }}</td>
                    </tr>
                </table>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <!-- Basic Card Example -->
        <div class="card mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Ubah</h6>
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>
</div>