<!-- Dropdown Card Example -->
<div class="card mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h5 class="m-0 font-weight-bold text-danger">Resep</h5>
         <!-- Large modal -->
        <div class="d-sm-flex align-items-center justify-content-between">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target=".resep-modal"><i
                    class="fas fa-plus"></i> Tambah Resep</button>

            <div class="modal fade resep-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <form action="/resep" method="post" class="m-5">
                            <div class="form-row">
                                <div class="form-group col-4">
                                    <label>Pasien</label>
                                    <select name="kodePasien" class="form-control">
                                        <option selected>Pilih...</option>
                                        {{#each pasien}}
                                        <option value="{{ _id }}">{{ nama }}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="form-group col-4">
                                    <label>Dokter</label>
                                    <select name="kodeDokter" class="form-control">
                                        <option selected>Pilih...</option>
                                        {{#each dokter}}
                                        <option value="{{ _id }}">{{ nama }}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="form-group col-4">
                                    <label>Obat</label>
                                    <select name="kodeObat" class="form-control">
                                        <option selected>Pilih...</option>
                                        {{#each obat}}
                                        <option value="{{ _id }}">{{ nama }}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="form-group col-4">
                                    <label>Tangggal Resep</label>
                                    <input type="text" name="tglResep" class="form-control" placeholder="tanggal resep"
                                        autocomplete="off">
                                </div>
                                <div class="form-group col-4">
                                    <label>Aturan Pakai</label>
                                    <input type="text" name="pakai" class="form-control" placeholder="aturan pakai"
                                        autocomplete="off">
                                </div>
                                <div class="form-group col-4">
                                    <label>Harga</label>
                                    <input type="text" name="harga" class="form-control" placeholder="harga"
                                        autocomplete="off">
                                </div>
                            </div>
                            <input type="submit" value="Tambah" class="btn btn-success btn-block mt-3">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Card Body -->
    <div class="card-body">
        <!-- Table pasien-->
        <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Tanggal Resep</th>
                    <th scope="col">Aturan Pakai</th>
                    <th scope="col">Harga</th>
                    <th scope="col">Aksi</th>
                </tr>
            </thead>
            <tbody>
                {{#each resep}}
                <tr>
                    <th scope="col">{{incremented @index }}</th>
                    <td>{{ tglResep }}</td>
                    <td>{{ pakai }}</td>
                    <td>{{ harga }}</td>
                    <td>
                        <a href="/resep/{{ _id }}"><i
                                class="float-left btn btn-sm bg-transparent fas fa-eye text-primary"></i></a>
                        <form method="POST" action="/resep/{{ _id }}?_method=DELETE">
                            <button type="submit" name="_method" class="btn btn-sm bg-transparent"><i
                                    class="fas fa-trash text-danger"></i></button>
                        </form>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
